nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  z-index: 999;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px;

  .logo {
    img {
      height: 46px;
    }
  }

  ul {
    flex: 1;
    margin: 0;
    padding: 0 20px;

    li {
      float: left;
      line-height: 64px;
      padding: 0 20px;
      margin: 0 10px;
      cursor: pointer;
      font-size: 16px;

      &:hover,
      &.active {
        color: #4289dc;
      }
    }
  }
  .login-btns {
    display: flex;
    align-items: center;
    width: 140px;
    justify-content: space-between;
  }
}

.container {
  background-color: #f9f9f9;

  .main-wrap {
    min-height: 100vh;
    width: 1160px;
    margin: 0 auto;
    padding-top: 84px;
    padding-bottom: 50px;
  }
}

footer {
  background: #1f2d3d;
  color: #8796A8;
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: center;
}