<section>
  <h1>在ProjectHub，<br>享受开发与需求的完美对接。</h1>
  <p>ProjectHub是一个软件外包服务平台，通过平台系统快速连接开发者与需求方，提高软件交付的效率，保障需求方和开发者权益，帮助软件开发行业实现高效的资源匹配。服务范围包括但不限于：APP 定制开发、小程序定制开发、web 网站开发、系统定制等软件开发需求。</p>
  <br>
</section>
<section style="background: #fff;">
  <h1>ProjectHub项目流程</h1>
  <div class="body">
    <div class="img">
      <img src="/assets/image/index-content-slice-2@2x-new.png"
        alt="">
    </div>
    <div class="text">
      <h4>1. 用户注册登录</h4>
      <p>用户在注册时可选择需求方、开发方两种身份之一，身份一经选择，不可修改。用户注册后需要等待后台管理员审核后才可使用平台全部功能。用户可在个人信息中修改个人信息。</p>
      <h4>2. 需求方发布项目</h4>
      <p>需求方点击发布项目即可进入项目编辑，须填写项目类型、标题等必须功能后，系统会根据项目功能预估项目开发金额，需求方需向平台支付一定比例（30%~70%）的定金，项目即可发布，项目发布后，会由平台后台进行项目审核，并联系需求方进一步明确项目需求。待平台审核通过后，项目即会发布到项目大厅中等待开发方申请接单。</p>
      <h4>3. 开发方接单</h4>
      <p>开发方可在项目大厅中浏览筛选项目，对有意向的项目可向需求方申请接单。需求方收到申请消息后，可查看开发方的信息以确定是否进行合作。待需求方通过申请后，即双方达成合作，平台将向开发方支付需求方的定金，开发方即可进入软件开发阶段。双方可在平台外进一步对接项目的进度</p>
      <h4>4. 开发完毕，项目验收测试</h4>
      <p>开发方将项目开发测试完毕后，可向需求方申请验收，开发方将项目向需求方展示（如果是网站，则可向需求方提供一个线上网址，如果是小程序可提供小程序测试版，如果是app则提供测试安装包）</p>
      <h4>5. 验收通过，项目结款</h4>
      <p>当需求方验收项目通过后，开发方可向需求方申请项目结款。需求方需向平台支付开发方尾款，待开发方向需求方提供程序源代码以及将项目部署上线后，平台会将尾款打给开发方，至此项目结束。</p>
      <!-- 如有后续维护或二次开发等工作，可 -->
    </div>
  </div>
</section>
<section>
  <h1>ProjectHub的优势</h1>
  <div class="body">
    <div class="text">
      <h4>1. 提高需求、开发双方的信息获取</h4>
      <p>在ProjectHub，平台会严格把控人员及项目，有大量优质的开发者和需求方提供的开发项目，只需要挑选您感兴趣合作伙伴，免去双方的筛选的时间。</p>
      <h4>2. 对项目需求有更明确的梳理，方便需求方、开发方的沟通</h4>
      <p>由于需求方、开发方的专业知识的差异，导致项目需求时常有表述不清等问题，为此，平台提供的项目估价系统，可帮助需求方梳理需求及功能点，计算开发经费；帮助开发方理解需求方的业务逻辑，方便业务的实现。</p>
      <h4>3. 维护双方利益</h4>
      <p>在项目开发过程中，平台作为第三方，在开发、需求双方涉及资金、项目代码等交付时，会起到监管、督促的作用，保证项目的顺利进行。</p>
    </div>
    <div class="img">
      <img src="/assets/image/home_advantage.png"
        alt="">
    </div>
  </div>
</section>