<nz-row nzGutter="16">
  <nz-col nzSpan="18">
    <nz-card>
      <form [formGroup]="projectForm"
        (ngSubmit)="onSubmit()">
        <nz-form-item>
          <nz-form-label [nzSpan]="4"
            nzRequired>项目类型</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <ul class="project-type">
              <div *ngFor="let item of PSList"
                (click)="chooseProjectType(item)"
                [ngClass]="{'on': item.type === selectType }">
                <span [ngSwitch]="item.type">
                  <li *ngSwitchCase="'web'">
                    <i nz-icon
                      nzType="html5"
                      nzTheme="outline"></i>
                    <span>Web网站</span>
                  </li>
                  <li *ngSwitchCase="'mp'">
                    <i nz-icon
                      nzType="wechat"
                      nzTheme="outline"></i>
                    <span>小程序</span>
                  </li>
                  <li *ngSwitchCase="'android'">
                    <i nz-icon
                      nzType="android"
                      nzTheme="outline"></i>
                    <span>Android App</span>
                  </li>
                </span>
              </div>
            </ul>
          </nz-form-control>
        </nz-form-item>
        <!-- title -->
        <nz-form-item>
          <nz-form-label [nzSpan]="4"
            nzRequired>项目名称/标题</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input type="text"
              nz-input
              formControlName="title"
              maxlength="10"
              required />
            <nz-form-explain *ngIf="title.errors && title.dirty">
              <ng-container *ngIf="title.getError('required')">
                请填写项目名称/标题
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <!-- desc -->
        <nz-form-item>
          <nz-form-label [nzSpan]="4"
            nzRequired>项目简介</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <textarea formControlName="desc"
              maxlength="400"
              nz-input
              rows="5"
              required></textarea>
            <nz-form-explain *ngIf="desc.errors && desc.dirty">
              <ng-container *ngIf="desc.getError('required')">
                请填写项目简介
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <!-- skill -->
        <nz-form-item>
          <nz-form-label [nzSpan]="4">技能需求</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <nz-select style="width: 100%"
              nzMode="multiple"
              nzPlaceHolder="可多选"
              formControlName="skills">
              <nz-option *ngFor="let skill of skills"
                [nzLabel]="skill.name"
                [nzValue]="skill"></nz-option>
            </nz-select>
          </nz-form-control>
          <!-- 不了解相关技能可不填 -->
        </nz-form-item>
        <!-- cycle -->
        <nz-form-item>
          <nz-form-label [nzSpan]="4"
            nzRequired>期望开发时间</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <nz-select style="width: 100%"
              formControlName="cycle">
              <nz-option *ngFor="let item of cycles"
                [nzLabel]="item.name"
                [nzValue]="item.value"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="cycle.errors && cycle.dirty">
              <ng-container *ngIf="cycle.getError('required')">
                请填写期望开发时间
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <!-- price -->
        <nz-form-item>
          <nz-form-label [nzSpan]="4"
            nzRequired>开发预算</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <nz-input-number type="number"
              nz-input
              [nzMin]="1"
              [nzStep]="1"
              formControlName="price"
              required></nz-input-number>
            <!-- 单位元 -->
            <nz-form-explain *ngIf="price.errors && price.dirty">
              <ng-container *ngIf="price.getError('required')">
                请填写开发预算
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="selectPS?.data">
          <nz-form-label [nzSpan]="4"
            nzRequired>选择功能</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <p>开发会根据功能进行系统架构、制定开发流程</p>
            <div class="list">
              <div class="fun1-wrap"
                *ngFor="let item of selectPS?.data; let i = index">
                <span (click)="clickFun1(item, i)"
                  [ngClass]="{'on': item.on}">{{item.title}}</span>
                <div class="fun2-wrap"
                  [ngClass]="{'is-leaf': !item1.children.length}"
                  *ngFor="let item1 of item.children; let i1 = index">
                  <span (click)="clickFun2(item1, i, i1)"
                    [ngClass]="{'on': item1.on}">{{item1.title}}</span>
                  <div class="fun3-wrap"
                    *ngFor="let item2 of item1.children; let i2 = index">
                    <span (click)="clickFun3(item2, i, i1, i2)"
                      [ngClass]="{'on': item2.on}">{{item2.title}}</span>
                  </div>
                </div>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>
        <!-- submit -->
        <button nz-button
          nzType="primary"
          type="submit"
          [disabled]="projectForm.invalid || !selectType">
          发布项目
        </button>
      </form>
    </nz-card>
  </nz-col>

  <!-- 右侧 -->
  <nz-col nzSpan="6">
    <nz-card></nz-card>
  </nz-col>
</nz-row>