.project-info {

  h1 {
    font-size: 2em;
    font-weight: normal;
  }

  h2 {
    font-size: 1.5em;
    font-weight: normal;
    margin-top: 20px;
  }

  ul {

    li {
      float: left;
      margin-right: 20px;
      color: #aaa;

      span {
        color: #333;
        margin-left: 10px;
      }
    }
  }
  .red {
    color: rgb(226, 43, 43) !important;
  }
}